/*Contact sectiom*/
body.pag-contacto {
    background-color: $bg-body;    
}
.contact__form{
    background:$bg-beige;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.contact__form__group {
    margin-bottom: 1rem;
}
.contact__form__img{
    text-align: center;
}
.contact__form__img {
    img{
        width: 11%;
        margin-top: -3%;
        transform: rotate(29deg);
    }
    img.error {
        @extend img ;
        transform: rotate(0deg);
    }
}
.contact__form {
    form{        
        padding: 0% 4% 14% 4%;
        .row{
            margin-bottom: -7%;
        }
        input.contact__form__group__ctrl, textarea.contact__form__group__ctrl {
            font-family:$fnt-txt;
            background-color: $bg-color ;
            border-radius: 0rem;
            padding: 0.1rem 0.375rem 0.1rem 0.75rem;
            border: 1px solid #ced4da;
            width: 100%;
        }
        input.contact__form__group__date {
            width: 100%;
        }
    }
    h1{
        @extend h1 ;
        margin-bottom: 2.3rem;
        margin-top: 1rem ;
        font-size: 2rem;
        padding: 0rem;
    }
    .contact__form__group__btn {
        width: 50%;
        border: none;
        padding: 1.5%;
        background: $btn-bg;;
        font-weight: 600;
        color: #fff;
    }
}
.contact__form__group__btn {
    border-radius: 0.2rem;
}
.contact__form__group__btn:hover{    
    background-color: $pink;
    border: none;
}
.container.contact__form {
    margin-top: 7rem;
    margin-bottom: 12vh;
}
.container.gracias {
    margin-bottom: 30vh;
}
.container.contactate {
    h2{
        color: $titulo-color;
        font-weight: 700;
        margin-bottom: 2.5rem;
    }
    h3{
        color: $titulo-color;
        font-size: 1.3rem;
    }
    p {
        margin-bottom: 7rem;
        margin-top: 0.5rem;
        font-size: 1.2rem;
        line-height: 2rem;
    }
    a {
        color: $pink;
    }
    .contact-block {
        padding-left: 3rem;
    }
}
.gracias {
    h3 {
        text-align: center;
        font-size: 2rem;
        color: $titulo-color
    }
}
/*fin contacto*/