  /*footer*/
footer {
    background-color: $soc-color ;
    margin: 0rem;
    margin-top: 0.5rem;
    margin-bottom: 0px;
    img {
        height: 1.5rem;
        filter: invert(41%) sepia(34%) saturate(604%) hue-rotate(260deg) brightness(83%) contrast(87%);
    }
    img:hover {
        height: 2rem;
        padding-top: -0.5rem;
    }
    .footer-top {
        margin: 0rem;
    }
}
div.social {
    padding: 1rem;
    width: 100%;
}
div.novedades {
    padding: 0.7rem 1rem;
    margin-right: 1rem;
    width: 100%;
    form { 
        width: 100%;
        input {
            height: 2.5rem;
        }
        input.mailnews {
            font-family:$fnt-txt;
            background-color: $bg-color-clear;
            border-radius: 0rem;
            border: 1px solid #ced4da;
            width: 60%;
            margin-right: 2%;
            padding-left: 2%;
        }
        input.mailnews:focus {
            width: 68%;
            outline-color: $lilac;
            background-color: $bg-color ;
        }
        input.btnnews {
            border: none;
            background: $btn-bg;;
            font-weight: 600;
            color: #fff;
            border-radius: 0.2rem;
            width: 35%;
            cursor: pointer;
        }
        input.btnnews:hover {
            background-color: $pink;
            border: none;
        }
    }
}
div.footer-bottom {
    width: 100%;
    p {
        text-align: center;
        margin: 0.5rem 0rem 0rem 0rem;
        padding-bottom: 0.5rem;
    }
}
#footer {
    position: relative;
    bottom: 0px;
    width: 100%;
}
#footers {
    @extend #footer ;
}
/*fin footer*/