@media (orientation: portrait) {
    #vinylact {
        display: flex;
        flex-direction: column;
    }
    iframe.youtube {
        height: 30vh;
    }
}
@media (orientation: landscape) {
    iframe.youtube {
        height: 80vh;
    }
}
@media only screen and (max-width: 340px) and (max-height: 650px) {
    .hero {
        height: 55vh;
        padding: 0rem 1rem 1rem 1rem;
        text-align: center;
        h1 {
            font-size: 2.2rem;
            color: $titulo-color;
            font-weight: 800;
            margin-bottom: 1rem;
        }        
    }
    section#petalsfa, section#hayleybio{
        height: 145vh;
    }
    div.petalsfa__txt, div.hayleybio__txt{
        height: 90vh;
        p.bio {
            font-size: 0.8rem;
        }
    }
    div.petalsfa__img{
        background-size: 25rem;
        height: 55vh;
    }
    div.hayleybio__img{
        background-size: 23rem;
        height: 55vh;
        background-position-y: top;
    }
    .btncontainer {
        button.flipbtn {
            font-size: 1.4rem;
            transform: translate(0rem, -1rem);
        }
    } 
    .navbar-brand {
            width: 200px;   
            img{
                width: 90%;
            }         
    }
}
@media only screen and (min-width: 341px) {
    div.petalsfa__img{
        background-size: 30rem;
        background-position-y: bottom;
    }
    div.hayleybio__img{
        background-size: 30rem;
        background-position-y: 0rem;
    }
    .btncontainer {
        button.flipbtn {
            font-size: 1.4rem;
            transform: translate(0rem, -1rem);
        }
    } 
}
@media only screen and (min-width: 576px) and (max-width: 767px) {   
    .hero {
        h1 {
            margin: 1rem;
        }
    }
    div.petalsfa__img, div.hayleybio__img {
            background-size: 50rem;
            height: 70vh;
            background-attachment: fixed;
    }    
    #banner {
        background-position: 50rem;
    }  
    iframe.remix {
            width: 450px;
    }
    .flipcontainer{
        height: 70vh;
    }
    .btncontainer {
        button.flipbtn {
            font-size: 2rem;
        }
    } 
    .caja-cita {
        .citas {
            p {
                font-size: 1.1rem;
            }
        }
    }
    .contact__form {
        form{        
            padding: 0% 14% 14% 14%;
        }
        h1{
            margin-bottom: 2.3rem;
            margin-top: 1rem;
            font-size: 3rem;
        }
    }
}    
@media only screen and (min-width: 768px){          
    .hero {
        h1 {
            font-size: 3rem;
            margin: 2rem;
        }
    }
    section#petalsfa, section#hayleybio {
        height: 90vh;
    }
    div.petalsfa__txt, div.hayleybio__txt{
        height: 90vh;
        p.bio {
            margin-left: 1.5rem;
        }  
    }
    div.petalsfa__img {
        background-size: 50rem;
        height: 100vh;
        background-attachment: fixed;
    }
    div.hayleybio__img {       
        background-color: #FF8CC6;
        height: 90vh;
        background-size: 100vh;
        background-attachment: fixed;
        background-position-x: right;
        background-position-y: top;
        background-repeat: no-repeat;
    }
    #banner {
        background-position: right;
    }    
    form {
        h1 {
            font-size: 3rem;
        }    
    }
    .citas {
        padding-left: 2rem;
        padding-right: 2rem;
        text-align: justify;
    }
    .separation-pic {
        height: 70vh;
        background-position-y: center;
        background-attachment: fixed;
        margin-top: 2rem;
    }
    div.stream {
        margin-left: 2.5rem
    }
    iframe.remix {
        width: 350px;
    }
    .flipcontainer{
        width: 33%;
        height: 40vh;
        background: none;
    }
    .container.contactate {
        h3{
            font-size: 1.75;
        }
        .contact-block {
            padding-left: 2rem;
        }
        .contact-block:last-child {
            padding-left: 9rem;
        }
    }
}
@media (min-width: 900px) {
    div.petalsfa__txt, div.hayleybio__txt{
        p.bio {
            font-size: 1rem;
            margin-left: 2rem;
        }  
    }
}
@media (min-width: 1020px) {
    iframe.remix {
        width: 460px;
    }
    div.petalsfa__txt, div.hayleybio__txt{        
        p.bio {
            margin-left: 2rem;
            margin-right: 0.5rem;
            text-align: justify;            
        }  
    }
    .flipcontainer{
        height: 50vh;
    }
}
@media (min-width: 1280px) {    
    h2 {
        font-size: 2.8rem;
    }
    #banner {
        background-size: cover;
    }
    .hero {
        h1 {
        font-size: 3.5rem;
        }
    }
    section#petalsfa, section#hayleybio {
        height: 90vh;
    }
    div.petalsfa__txt, div.hayleybio__txt{
        height: 90vh;
        p.bio {
            font-size: 1.2rem;
        }
    }
    div.petalsfa__img {        
        background-size: contain;
        height: 90vh;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-color: #EABCD8;
    }
    div.hayleybio__img {       
        background-color: #FF8CC6;
        height: 90vh;
        background-size: 60%;
        background-attachment: fixed;
        background-position-x: right;
        background-position-y: top;
        background-repeat: no-repeat;
    }
    #banner {
        background-position: right;
    }
    form {
        h1 {
        font-size: 3rem;    
        }
    }
    iframe.remix {
        width: 580px;
    }
    .flipcontainer{
        height: 70vh;
    }
    .btncontainer {
        button.flipbtn {
            transform: translate(0rem, 0.5rem);
        }
    } 
    .caja-cita {
        .citas {
            p {
                font-size: 1rem;
            }
        }
    }
    .contact__form {
        form{        
            input.contact__form__group__date {
                width: 50%;
                align-items: flex-end;
            }
            label.contact__form__group__label {
                width: 48.8%;
            }
        }
    }
}
@media (min-width: 1440px) {    
    h2 {
        font-size: 4rem;
    }
    .hero {
        height: 50vh;
        width: 53%;
        h1 {
            font-size: 4.2rem;
        }
        p {
            font-size: 2rem;
        }
    }
    #banner {
        background-size: cover;
    }
    div.petalsfa__txt, div.hayleybio__txt{
        height: 90vh;
        p.bio {
            font-size: 1.4rem;
        }
    }
    div.petalsfa__img {        
        background-size: 100vh;
    }
    div.hayleybio__img {
        background-size: 50%;
        background-position-y: bottom;
    }
    #banner {
        background-position: right;
    }
    form {
        h1 {
        font-size: 4rem;    
        }
    }
    .musicacont {
        max-width: 2000px;
    }
    h2.musica {
        font-size: 3rem;
    }
    iframe.remix {
        width: 100%;
    }
    .flipcontainer{
        height: 80vh;
    }
    .btncontainer {
        button.flipbtn {
            transform: translate(0rem, 0rem);
        }
    } 
    .caja-cita {
        .citas {
            p {
                font-size: 1.5rem;
            }
        }
    }
}
@media (min-height: 800px) {
    #footers {
        position: fixed;
    }
}
@media (min-height: 928px) and (orientation : portrait) {    
    h2 {
        font-size: 2.8rem;
        font-family: $fnt-head;
    }
    .hero h1 {
        font-size: 3.5rem;
    }
    section#petalsfa, section#hayleybio {
        height: 90vh;
    }
    div.petalsfa__txt, div.hayleybio__txt{
        height: 90vh;
    }
    div.petalsfa__img {        
        background-size: 100vh;
        height: 90vh;
        background-attachment: fixed;
    }
    div.hayleybio__img {       
        background-color: #FF8CC6;
        height: 90vh;
        background-size: 95vh;
        background-attachment: fixed;
        background-position-x: right;
        background-position-y: top;
        background-repeat: no-repeat;
    }
    #banner {
        background-size: cover;
        background-position: right;
    }
    #productos {
        div {
            .card-merch {    
                height: 22rem;
            }
        }
    }
    form {
        h1 {
        font-size: 3rem;    
        }
    }
    section.contact {
        height: 83vh;
    }
    .separation-pic.img-3, .separation-pic.img-2, .separation-pic.img-1 {
        background-position-x: center;
    }
    .caja-cita {
        .citas {
            p {
                font-size: 1.3rem;
            }
        }
    }
}
@media (min-height: 1280px) and (orientation : portrait) {    
    #productos {
        height: 82vh;
        div {
            .card {
                width: 100%;
            }
            .card-merch {    
                height: 22rem;
            }
            .card-merch.hoodie-rage {
                background-size: 100%;
            }
            .card-merch.seed-note {
                background-size: 86%;
            }
        }
    }
}
@media (max-width: 768px) and (orientation: landscape){          
    #vinylact {
        display: flex;
        flex-direction: row;
    }
    .flipcontainer{
        width: 33%;
        height: 80vh;
        background: none;
    }
}
@media (max-aspect-ratio: 5/2) and (orientation: landscape) {
    .flipcontainer{
        height: 80vh;
    }
}
@media (aspect-ratio: 5/3) and (orientation: landscape) {
    .flipcontainer{
        height: 60vh;
    }
}
@media (max-aspect-ratio: 8/5) and (min-aspect-ratio:4/3)  and (min-width:768px) and (orientation: landscape) {
    .flipcontainer{
        height: 50vh;
    }
}
@media (min-aspect-ratio: 4/3) and (max-aspect-ratio:6/5)  and (max-width:768px) and (orientation: portrait) {
    .flipcontainer{
        height: 65vh;
    }
}
@media (max-aspect-ratio:1/1) and (max-width:768px) and (orientation: portrait) {
    .flipcontainer{
        height: 75vh;
        margin-bottom: 1rem;
    }
}
@media (min-aspect-ratio:1/1) and (max-aspect-ratio:11/8)  and (max-width:1280px) and (orientation: landscape) {
    .flipcontainer{
        height: 45vh;
    }
}
@media (min-aspect-ratio:15/8)  and (max-width:768px) and (orientation: portrait) {
    .flipcontainer{
        height: 55vh;
    }
}
@media (min-aspect-ratio: 1/1) and (max-aspect-ratio:4/3)  and (min-width:768px) and (orientation: landscape) {
    .flipcontainer{
        height: 40vh;
    }
}

