/*merch*/
#productos {
    div.tarjeta{
        border: none;
        margin-bottom: 2rem;    
        margin-top: 2rem;  
    }
    div{
        border: none; 
        .card-merch {    
            background-color: $bg-color;
            height: 55vh;
            font-family: $fnt-head;
            font-weight: bolder;   
            padding: 0px;
            background-repeat: no-repeat; 
            .nombre-producto {
                padding: 1rem;
            }
            .nombre-producto:hover {
                background-color: rgba(139, 84, 128, 0.7);
                color: beige;
            }
            .btn-beige {
                border-color: black;
                color: black;
            }
            .btn-beige:hover {
                border-color: beige;
                color: beige;
                background-color: rgba(139, 84, 128, 0.7);
            }
        }
        .card-merch.hoodie-rage {
            background-image: url(../img/merch/rage-hoodie.jpg);
            background-size: 72%;
            background-position-x: center;
        }
        .card-merch.seed-note {
            background-image: url(../img/merch/seeds-note.jpg);
            background-size: 60%;    
            background-position-x: center;
        }
        .card {
            width: 85%;          
        }
    }
}
