iframe.spotify {
    height: 35rem;
    margin: 2rem 0rem 2rem 0rem;
}
iframe.youtube {
    height: auto;
}
iframe.remix {
    height: 5rem;
}
div.stream {
    .stream-logo {
        margin-top: 1rem;
    }
    a.stream-logo:hover {
        filter: invert(41%) sepia(34%) saturate(604%) hue-rotate(260deg) brightness(83%) contrast(87%);
    }
}
