$titulo-color: #6F5E76;
$bg-color: #EFD6D2;
$bg-color-clear: rgba(239, 214, 210, 0.6);
$pink: #DE369D;
$btn-bg:#6F5E76;
$bg-body: #FFDDE2;
$src-color: #8B5480;
$lilac: #D59ACE;
$soc-color: #f5f5dc;
$beige:  #f5f5dc;
$bg-beige:rgba(245, 245, 220, 0.65);
$fnt-head: 'Forum', cursive;
$fnt-txt: 'Jura', sans-serif;